{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/fixes.html" as fixes %}

{% block navbar %}
<ul class="nav nav-tabs" role="tablist">
  <li><a href="/">Home</a></li>
  <li><a href="/timedTweet/">Timed Tweet</a></li>
  <li><a href="/keepAlive/">Keep-Alive Tweets</a></li>
  <li class="active"><a href="/campaign/">Campaign</a></li>
</ul>
{% endblock %}

{% block content %}
<div class="container">
  {{ wtf.quick_form(form, form_type='horizontal', button_map={'submit_button': 'primary'})}}
</div>
{% endblock %}

{% block head %}
{{super()}}
{{fixes.ie8()}}
{% endblock %}