{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/fixes.html" as fixes %}

{% block navbar %}
<ul class="nav nav-tabs" role="tablist">
  <li><a href="/">Home</a></li>
  <li><a href="/timedTweet/">Timed Tweet</a></li>
  <li class="active"><a href="/keepAlive/">Keep-Alive Tweets</a></li>
  <li><a href="/campaign/">Campaign</a></li>
</ul>
{% endblock %}

{% block content %}
<div class="form-group">
  <form method="POST" action="/">
    {{ form.csrf_token }}
    <h3>{{ form.Status.label }}</h3>
    {{ form.Status(rows=5,cols=30, class="form-group") }}<br>
    <input type="submit" value="Stay Alive" class="btn pull-left">
  </form>
</div>
{% endblock %}
    
{% block head %}
{{super()}}
{{fixes.ie8()}}
{% endblock %}